@import url('./styles/config/config.css');

.header {
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 99;
}

/* Styles for smaller screens */
@media screen and (max-width: 749px) { /* Assuming $medium-down is 750px - 1 */
    .header {
        background: var(--color-white);
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
    }
}

.header__wrapper {
    position: relative;
    padding: 0 24px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

/* Styles for larger screens */
@media screen and (min-width: 990px) { /* Assuming $large-up is 990px */
    .header__wrapper[data-nav-position="center"] {
        grid-template-columns: 10% 80% 10%;
    }
}
